<div class="container">

    <div class="row">
        <div class="card col-4" >
            <div class="card-body">
            <img [src]="list.imgURL" [alt]="list.name" class="card-img-top" alt="...">
            <h5 class="card-title">{{list.name}}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Price {{list.price  }}</h6>
            <h6 class="card-subtitle mb-2 text-body-secondary">Available {{list.quantity }}</h6>
            <!-- <button (click)="add(item)">Add To Cart</button> -->
        </div>
    </div>
</div> 
</div>