
<div class="container">
<button class="btn btn-outline-primary my-5" routerLink="/add-product">Create Product </button>
    <div class="row">
        <div class="card col-4"  *ngFor="let item of list">
            <div class="card-body">
            <img [src]="item.imgURL" [alt]="item.name" class="card-img-top" alt="...">
            <h5 class="card-title">{{item.name}}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Price {{item.price | currency }}</h6>
            <h6 class="card-subtitle mb-2 text-body-secondary">Available {{item.quantity }}</h6>
            <button class="btn btn-outline-warning me-2" [routerLink]="['/details',item._id]">See More</button>
            <button class="btn btn-outline-secondary me-2" [routerLink]="['/edit-product',item._id]">Edit</button>
            <button class="btn btn-outline-danger" (click)="addtowishlist(item)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="color:red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                  </svg>
            </button>
            <!-- <button (click)="add(item)">Add To Cart</button> -->
        </div>
    </div>
</div> 
</div> 