<div class="container">
<form [formGroup]="form" (ngSubmit)="send()">
    <div class="mb-3">
      <label class="form-label">email</label>
      <input type="text" formControlName="email" class="form-control"
      [ngClass]="{
        'is-invalid': form.controls['email'].invalid && form.controls['email'].touched,
        'is-valid': form.controls['email'].valid && form.controls['email'].touched,
        }" >
      <div *ngIf="form.controls['email'].invalid && form.controls['email'].touched" class="invalid-feedback">
        <span *ngIf="form.controls['email'].hasError('required')">
          Please Provide a correct Product email
        </span>
        <span *ngIf="form.controls['email'].hasError('minlength')">
          Product email must contain more than 3 letters.
        </span>
      </div>
      <div *ngIf="form.controls['email'].valid && form.controls['email'].touched"  class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="mb-3">
      <label  class="form-label">password</label>
      <input type="password" formControlName="password" class="form-control"  [ngClass]="{
        'is-invalid': form.controls['password'].invalid && form.controls['password'].touched,
        'is-valid': form.controls['password'].valid && form.controls['password'].touched,
        }" >
      <div *ngIf="form.controls['password'].invalid && form.controls['password'].touched" class="invalid-feedback">
        <span *ngIf="form.controls['password'].hasError('required')">
          Please Provide a correct Product password
        </span>
      </div>
      <div *ngIf="form.controls['password'].valid && form.controls['password'].touched"  class="valid-feedback">
        Looks good!
      </div>
    </div>
    
  <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Login</button>
</form>
</div>